@using BlogSite.ViewModel
@model ProfileVM
@{
    Profile myProfile = ViewBag.Profile;
}
<div class="container">
    <div class="row align-content-end">
        <div class="col-md-12">
            <h1 class="my-5 text-center">
                Update Profile
            </h1>

            <form asp-action="UpdateProfile" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter your name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Enter your username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">

                     <div class="form-group col-md-6">
                        <label asp-for="Image"></label>
                        <input asp-for="Image" type="file" class="form-control-file">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div> 

                    <div class="form-group col-md-6">
                        <label asp-for="Bio"></label>
                        <textarea asp-for="Bio" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6 d-flex">
                        <input class="form-group" hidden name="oldPic" value="@ViewData["Image"]"/>
                       <img src="/Images/@ViewData["Image"]" width="200px" height="200px" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>



        </div>
    </div>

</div>

